node_modules
dist
.vite
*.local
.DS_Store

.vs/
x64/
Debug/
Release/
*.obj
*.pdb
*.ilk
*.tlog
*.log
*.user

# Node
web/node_modules/
web/dist/

# Mantener los WASM públicos para Vercel
!web/public/wasm/compiler.js
!web/public/wasm/compiler.wasm